{% load static %}  
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white animate-up" id="navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-sm-0" href="{% url 'home' %}">
        <img
          src="{% static 'logo.png' %}"
          height="40"
          width="60"
          alt="Sneaker Fie Logo"
          loading="lazy"
        />
      </a>    
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <i class="fas fa-bars"></i> -->
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">      
        
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link " href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          
           <!-- dropdown for brand -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Brands</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'nike' %}">Nike</a></li>
              <li><a class="dropdown-item" href="{% url 'adidas' %}">Adidas</a></li>
              <li><a class="dropdown-item" href="{% url 'jordan' %}">Jordan</a></li>
              <li><a class="dropdown-item" href="{% url 'puma' %}">Puma</a></li>
              <li><a class="dropdown-item" href="{% url 'vans' %}">Vans</a></li>
              <li><a class="dropdown-item" href="{% url 'reebok' %}">Reebok</a></li>
              <li><a class="dropdown-item" href="{% url 'new_balance' %}">New Balance</a></li>
              <li><a class="dropdown-item" href="{% url 'balenciaga' %}">Balenciaga</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Categories</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'trending' %}">Trending</a></li>
              <li><a class="dropdown-item" href="{% url 'new' %}">New</a></li>
              <li><a class="dropdown-item" href="{% url 'outdoor' %}">Outdoor</a></li>
              <li><a class="dropdown-item" href="{% url 'discounted_products' %}">Discounted</a></li>
            </ul>
          </li>

        </ul>
        <!-- Left links -->    

        <!-- Right elements -->
      <div class="d-flex align-items-center">
        
        <!-- Search -->
        <form class="w-auto py-1 me-2 search-form" style="max-width: 12rem; " method="GET" action="{% url 'search' %}" >
          <input type="search" class="form-control rounded-2" placeholder="Search Shoe" aria-label="Search" name="query" style="padding-right: 10px;">
        </form>

        <!-- {% include 'partials/nav_search.html' %} -->

        {% if user.is_authenticated %}
          <!-- Icon -->
          <a class="nav-link me-2" href="{% url 'favorite' %}">
            <i class="fa-regular fa-heart fa-xl" title="Favorites" style=""></i>
          </a>
  
          <a class="nav-link me-2" href="{% url 'cart' %}">
            {% if cart_item_count == 0 %}
              <i class="fa-solid fa-cart-shopping fa-beat-fade"></i>
            {% else %}
              <i class="fas fa-shopping-cart"></i>
            {% endif%}

            {% if cart_item_count != 0 %}
              <span class="badge rounded-pill badge-notification" id="cart_count" style="background-color:cadetblue;">{{ cart_item_count }}</span>
            {% endif%}
          </a>
  
          <a class="me-2 btn btn-outline-primary px-4 rounded-pill" href="{% url 'logout' %}">
            logout
          </a>
        {% else %}
          <a class="btn btn-outline-primary rounded-pill px-4" href="{% url 'login' %}">
            Login
          </a>
        {% endif %}
        
      </div>
      <!-- Right elements --> 
      </div>
      <!-- Collapsible wrapper -->
      
      
      
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

<style>
    /* Adjust search form width for smaller screens */
    @media (max-width: 992px) {
        .search-form {
            max-width: 8rem; /* Adjust the width as needed */
        }

        .navbar {
          transition: top 0.3 ease-in-out;
        }

        .hide-nav{
          top: -75px;
        }
    }
</style>

<script>
  prevScrollPos = window.pageYOffset;

  window.addEventListener("scroll", ()=>{
    var currentScrollPos = window.pageYOffset;
    if(prevScrollPos > currentScrollPos){
      document.getElementById("navbar").style.top = "0";
      // document.getElementById("navbar").style.display = "block";
    }
    else{
      document.getElementById("navbar").style.top = "-75px";
      // document.getElementById("navbar").style.display = "none";
    }
    prevScrollPos = currentScrollPos;
  });
</script>